/*
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Dancing Script', cursive;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.wrapper {
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

header {
  position: absolute;
  left: 0;
  top: 6vh;
  width: 100%;
}

/* Start main-menu */
nav.main {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 4vh;
}

nav.main ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

nav.main li {
  flex-basis: 25%;
}

nav.main a {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  color: #444;
  text-decoration: none;
  font-family: 'Roboto', Arial, sans-serif;
  text-transform: uppercase;
}

/* End main-menu */

/* Start logo */
section {
  max-width: 1440px;
  margin: 0 auto;
}

div.logo {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.animate-border {
  border-bottom: 3px solid black;
  width: 0;
  margin: 0 auto;
}

div.logo:hover>.animate-border {
  animation: animate-logo 1s both;
  ;
}

@keyframes animate-logo {
  0% {
    border-bottom: 3px solid #444;
    width: 0;
    color: #444;
  }

  25% {
    border-bottom: 3px solid #999;
    width: 60%;
    color: #999;
  }

  100% {
    width: 36%;
    color: #444;
  }
}

@keyframes animate-logo-color {
  0% {
    color: #444;
  }

  25% {
    color: #999;
  }

  100% {
    color: #444;
  }
}

div.logo h1 a {
  display: block;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 3px;
  color: #444;
  text-decoration: none;
  font-family: 'Lato', Arial, sans-serif;
  text-transform: uppercase;
}

div.logo h1 a span {
  display: block;
  font-size: 2rem;
  text-align: center;
  color: #444;
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
}

div.logo h1 a:hover,
div.logo h1 a span:hover {
  animation: animate-logo-color 1s both;
}